.cart-widget{
    margin-right: 50px;
    background-color: rgb(255, 179, 0);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.624);
    border-radius: 5px;
    padding: 6px 2px 6px 12px;
    width: 50px;
    cursor: pointer;;
    
}