.cart-widget {
    margin-right: 70px;
    background-color: #FF6341;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.624);
    border-radius: 5px;
    padding: 6px 7px 6px 15px;
    width: 90px;
    cursor: pointer;
    margin-left: -70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-widget svg {
    margin-top: 4px;
    color: white;
    transform: translateY(-3px);
}

.notification {
    padding: 3px 6px 3px 6px;
    background-color: white;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 12px;
}

@media screen and (max-width: 1130px){
    .cart-widget{
        margin-right: 10px;
        height: 30px;
        width: 80px;
    }
}

