.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 400px;
    min-height: 400px;
    width: 300px;
    padding: 16px;
    margin-bottom: 20px;
    
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: auto;
    max-width: 290px;
    align-self: center;
    max-height: 200px;
    min-height: 200px;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
    
  }
  
  .card-content h3 {
    font-size: 18px;
    margin: 0 0 10px;
  }
  
  .card-content p {
    margin: 0 0 5px;
  }