.navbar {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: -10px;
  }
  
  .nav-item {
    margin-right: 50px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .nav-link:hover {
    color: #000;
  }
  