.navbar {
  background-color: #080a37e6;
 
}

.navbar-n {
  display: flex;
  list-style: none;
  margin-top: 40px;
  margin-left: -180px;
}

.a{
  margin-right: 30px
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.nav-link:hover {
  color: #858585;
}

.nav-item {
  margin-right: 10px;
  display: inline-block; 
  padding: 0; 
  margin-right: 30px;
  color: rgb(255, 255, 255);
}

.logo{
  height: 100%;
 
}